@import "tailwindcss";
:root {
  /* Colors: */
  --unnamed-color-705aaa: #705aaa;
  --unnamed-color-cbc8d4: #cbc8d4;
  --activestate_bg_2: #d8fcf7;
  --activestate_bg_1: #01f0d0;
  --unnamed-color-0bd984: #0bd984;
  --unnamed-color-072635: #072635;
  --unnamed-color-0c3d5d: #0c3d5d;
  --unnamed-color-084c77: #084c77;
  --unnamed-color-055a92: #055a92;
  --unnamed-color-006aac: #006aac;
  --unnamed-color-007bc7: #007bc7;
  --unnamed-color-707070: #707070;
  --unnamed-color-f6f6f6: #f6f6f6;
  --unnamed-color-ededed: #ededed;
  --unnamed-color-000000: #000000;
  --unnamed-color-878787: #878787;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-ff6200: #ff6200;

  /* Font/text values */
  --unnamed-font-family-manrope: Manrope;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-800: 800px;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-24: 24px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-33: 33px;
  --unnamed-text-transform-titlecase: titlecase;
}
body {
  scrollbar-width: thin;
}
.active {
  background-color: var(--activestate_bg_1);
}
.active2 {
  background-color: var(--activestate_bg_2);
}
/* Character Styles */
.card-title-24pt {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-33);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
}
.inner-card-title-18pt {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-transform: var(--unnamed-text-transform-titlecase);
}
.body-emphasized-14pt {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
}
.body-secondary-info-14pt {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
}
.body-regular-14 {
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
}

.vital-title {
  height: 22px;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal medium 16px/22px
    var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal medium 16px/22px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.vital-value {
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
    30px/41px var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal 800 30px/41px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
}

.vital-levels {
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
}

.vitals-card-respi {
  background: #e0f3fa 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.vitals-card-temperature {
  background: #ffe6e9 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.vitals-card-heart {
  background: #ffe6f1 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.charts-container {
  background: #f4f0fe 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.scrollbox {
  overflow: auto;
  visibility: hidden;
}

.scrollbox-content {
  visibility: visible;
}

.scrollbox:hover,
.scrollbox:focus {
  visibility: visible;
}
